awesome-slugify==1.6.5
click==6.6
Envelopes==0.4
eyeD3==0.7.10
Flask==0.12
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
pafy==0.5.2
pydub==0.16.4
regex==2017.01.12
requests==2.12.4
Unidecode==0.04.20
vagalume==0.0.5
Werkzeug==0.11.15
youtube-dl==2017.1.10
