awesome-slugify==1.6.5
click==6.6
Envelopes==0.4
eyeD3==0.7.9
Flask==0.11.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pafy==0.5.1
pydub==0.16.4
regex==2016.6.24
requests==2.9.1
Unidecode==0.04.20
vagalume==0.0.5
Werkzeug==0.11.15
youtube-dl==2016.6.25
