<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Download Music</title>
</head>
<body>
  <h1>Download Music</h1>
  <form action="download" method="POST">
    <span>URL do YouTube:</span>
    <input type="text" name='url' placeholder='URL do YouTube'/>
    <br />

    <span>Título</span>
    <input type="text" name='title' placeholder="Título">
    <br />

    <span>Artista</span>
    <input type="text" name='artist' placeholder="Artista">
    <br />

    <span>Gênero</span>
    <input type="text" name='gender' placeholder="Gênero">
    <br />

    <span>Album</span>
    <input type="text" name='album' placeholder="Album">
    <br />

    <input type="submit" value='Download'>
  </form>
</body>
</html>
