<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Ganso Music</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="static/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="192x192"  href="static/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">

  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <meta name="theme-color" content="#303030">
</head>

<body id="all">
  <div class="container-fluid">
    <h1>
      <img src="static/images/ganso.png" alt="Ganso">
      Ganso Music
    </h1>

    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <form action="download" method="POST">
          <div class="form-group">
            <label class="control-label" for="">*URL do YouTube:</label>
            <input type="text" name='url' placeholder='URL do YouTube' class="form-control" required/>
          </div>

          <div class="form-group">
            <label class="control-label" for="">Título:</label>
            <input type="text" name='title' placeholder="Título" class="form-control">
          </div>

          <div class="form-group">
            <label class="control-label" for="">Artista:</label>
            <input type="text" name='artist' placeholder="Artista" class="form-control">
          </div>

          <div class="form-group">
            <label class="control-label" for="">Gênero:</label>
            <input type="text" name='gender' placeholder="Gênero" class="form-control">
          </div>

          <div class="form-group">
            <label class="control-label" for="">Album:</label>
            <input type="text" name='album' placeholder="Album" class="form-control">
          </div>

          <input type="submit" value='Download' class="btn btn-lg btn-warning pull-right">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
